*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.s-1{
    position: relative;
    background: linear-gradient(to right,rgb(252, 159, 72),rgb(243, 87, 178));
    max-width: 100%;
    /* padding: 0 10px; */
    opacity: 0.8;
    padding-top: 10px;
}
.navbar{
    position: relative;
    display: flex;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    align-items: center;
}
.l-head{
    background-image: linear-gradient(to right, gold, rgb(206, 70, 138));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
}
.s-1 ul{
    display: flex;
    align-items: center;
}
.s-1 ul li{
    list-style-type: none;
    margin-left: 15px;
}
.s-1 ul li a{
    text-decoration: none;
    color: rgb(92, 91, 91);
    font-weight: 600;
    font-size: 16px;
}
.s-1 ul li button{
    padding: 3px;
    border: solid 1px rgb(255, 0, 170);
    border-radius: 6px;
    color: rgb(85, 85, 85);
    background-color: #fff;
    font-weight: 550;
}
.s-1 span{
    background-color: rgb(255, 0, 170);
    padding: 8px 8px;
    border-radius: 50%;
    color: white;
}
.script{
    position: relative;
    background-color: black;
    height: 500px;
    margin-bottom: 30px;
}
.s-1 img{
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.9);
    opacity: 0.5;
    object-fit: cover;
    object-position: center;
}
.text-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 500px;
    opacity: 0.8;
    border-left: 5px solid rgb(255, 0, 170);
    padding: 20px;
    height: 40%;
    /* margin: 0 20%; */
  }
  .btn-gp{
    display: flex;
    margin-top: 20px;
  }
  button{
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: white;
    width: inherit;
    font-weight: 700;
    font-size: 16px;
  }
  .btn-1{
    background: linear-gradient(to right,rgb(252, 159, 72),rgb(243, 87, 178));
  }
  .btn-2{
    margin-left: 20px;
    background: transparent;
    border: 2px solid gray;

  }
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 10%;
    padding-bottom: 20px;
}
.bt{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}
.bt-top{
    display: flex;
    margin-right: 5px;
    margin-bottom: 10px;
}
.bottom i{
    border : 1px solid white;
    border-radius:50%;
    padding:3px;
}
.bt-top p{
    display: flex;
    margin-left: 20px;
    font-size:22px;
    align-items:center;
    font-weight:800;
}
.bottom p {
    font-size:15px;
}

.s-2{
    display:flex;
    margin: 0 10%;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    padding: 10px 0 40px 0;
}
.s-2 .left{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.s-2 h1,.s-3 h1{
    background-image: linear-gradient(to left, gold, rgb(206, 70, 138));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
}
hr{
    margin: 5px 0;
    width: 40px;
    background-image: linear-gradient(to left, gold, rgb(206, 70, 138));
    border: none;
    height: 2px;
}
.s-2 .p-head{
    font-size: 18px;
    font-weight: 800;
    margin: 5px 0;
}
.s-2 .p-para{ 
    font-size: 15px;
    color: #6d6a6a;
    margin: 10px 0;
}
.d-3{
    background: url('orbg.jpg');
    height: 100%;
}


.s-3{
    margin: 0 10%;  
    display: flex;
    flex-direction: column;   
    padding:50px 0 100px 0;    
}
.img-g{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.img-i{
    position: relative;
}
.tag{
    position: absolute;
    right: 0;
    top: 100%;
    transform: translate(0,-50%);
}
.tag p{
    background-color:white;
    padding: 12px 35px;
    margin-left: 18px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 1px 2px 1px rgb(104, 99, 99);
}
.tag i{
    color: white;
    background: linear-gradient(to right,rgb(252, 159, 72),rgb(243, 87, 178));
    padding: 12px;
    border-radius: 50%;
    position: absolute;
}
